h1{
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

#mobileMenu{
        display: none;    
}

#topMenu{
    position: fixed;
    top:0px;
    width: 70%;
    z-index:100;
    list-style-type: none;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
    box-shadow: 0px 1px 5px 0px black;
}

header li{
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px 0px black;

}

header li a.active {
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px 0px black;
}

#mainContainer{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.slider{
    width: 80%;
    max-height 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding-bottom: 1%;
}

#advice{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;

}

#advice ul{
    list-style-type: decimal;
    list-style-position: inside;
}

#advice ul li{
    padding-bottom: 7px;
    font-size: 20px;
}

/*====================================== MOBIL SKÄRM ===================================*/

@media screen and (max-width:500px) {
      
    #mobileMenu{
        display: block;
    }
    
    #mobilePopUpMenu{
        position: fixed;
        background-color: darkred;
        width: 100%;
        height: 100%;
        display: none;
        overflow: hidden;

        z-index: 99;
    }
    
    ul:last-child li {
        float: none;
    }
    
    .desctopMenu{
        display: none;
    }
    
    #topMenu{
    position: fixed;
    top:0px;
    width: 100%;
    z-index:100;
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
    box-shadow: 0px 1px 5px 0px black;
}

header li{
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px 0px black;

}

header li a.active {
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px 0px black;
}

}
